			<!-- Formulario para registrar nueva area -->
			<form action="/Area/crear_area">
                  <div class="form-group">
                      <label for="id_area">Nueva Area</label>
                      <input type="text" class="form-control" id="id_area" placeholder="Area" name="area">
                  </div>
                  <button type="submit" class="btn btn-success">Agregar nueva Area</button>
              </form> 
              <br><br>