<nav>
  <div class="nav-wrapper light-green darken-3">
	<a href="#" class="brand-logo center">Registro de area</a>
  </div>
</nav>

<div class="container">
  <div class="row">
	<br><br><br>
	<form class="col s12" action="/Area/create" method="POST" accept-charset="utf-8">
	  <div class="row">
		<div class="input-field col s12">
		  <i class="material-icons prefix">mode_edit</i>
		  <input id="i_area" type="text" class="validate" name="area">
		  <label for="area">Area</label>
		</div>
	  </div>
	  <br>
	  <br>
	  <br>
	  <div class="row">
		<div class="input-field col s12">
		  <button class="btn waves-effect waves-light green right" type="submit" name="registro">Registrar Area
		  </button>
		</div>
	  </div>
	</form>
  </div>
</div>
