                <!-- Tabla que muestra todos las areas -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID Area</th>
                            <th>Area</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%_.each(area ,function(a){%>
                        <tr>
                            <td><%= a.id_area%></td>
                            <td><%= a.area%></td>
                            <td><button type="button" class="btn btn-danger">eliminar</button></td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>