<!-- PestanasRegistro de preguntas-->
    <div class="container" id="id_con_pes_pre">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="#">Preguntas</a></li>
            <li role="presentation"><a href="/Pregunta/nuevo_pregunta">Registro de Preguntas</a></li>
            <li role="presentation"><a href="/Temario/nuevo_temario">Registrar Temario</a></li>
            <li role="presentation"><a href="/Area/nuevo_area">Registrar Area</a></li>
            <li role="presentation" class="active"><a href="/Complejidad/nuevo_complejidad">Registrar Complejidad</a></li>
        </ul>
    </div>
<!--  Body de Temario-->
    <div class="container">
       <br><br>
        <div class="row">
         <div class="col-md-6">
<!-- Formlario de Registro de Complejidad  -->
              <form id="form_complejidad" name="fo" action="/Complejidad/crear_complejidad">
                  <div class="form-group">
                      <label for="id_complejidad">Nueva Complejidad</label>
                      <input type="text" class="form-control" id="id_complejidad" placeholder="Complejidad" name="complejidad">
                  </div>
                  <button type="submit" class="btn btn-success">Agregar nueva Complejidad</button>
              </form> 
              <br><br>
          </div>
<!-- Tabla de las complejidades -->
          <div class="col-md-6">
              <h4>Lista de <strong>Complejidad</strong></h4>
              <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID Complejidad</th>
                            <th>Complejidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%_.each(complejidad, function(c){%>
                        <tr>
                            <td><%= c.id_complejidad%></td>
                            <td><%= c.complejidad%></td>
                            <td><button type="button" class="btn btn-danger">eliminar</button></td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
          </div>
        </div>
    </div>