				<!-- Formulario de Respuesta -->
				<div class="input-group">
                  <input type="text" class="form-control" aria-label="" placeholder="Agregue una respuesta">
                  <div class="input-group-btn">
                    <a class="btn btn-default" href="#" role="button" id="add_res">Agregar Respuesta</a>
                  </div>
                </div>