                <!-- Tabla de registro de respuesta  -->
                <br><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID Respuesta</th>
                            <th>Respuesta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button type="button" class="btn btn-danger">eliminar</button></td>
                        </tr>
                    </tbody>
                </table>