<!-- PestanasRegistro de preguntas-->
    <div class="container" id="id_con_pes_pre">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/Pregunta/lista_pregunta">Preguntas</a></li>
            <li role="presentation"><a href="/Pregunta/nuevo_pregunta">Registro de Preguntas</a></li>
            <li role="presentation"><a href="/Temario/nuevo_temario">Registrar Temario</a></li>
            <li role="presentation" ><a href="/Area/nuevo_area">Registrar Area</a></li>
            <li role="presentation"><a href="/Complejidad/nuevo_complejidad">Registrar Complejidad</a></li>
        </ul>
    </div>
<!-- Body de lista preguntas  -->
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>Hola</h1>
				<%- partial('./tabla_pregunta.ejs')%>
			</div>
		</div>
	</div>