<!-- PestanasRegistro de preguntas-->
    <div class="container" id="id_con_pes_pre">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/Pregunta/lista_pregunta">Preguntas</a></li>
            <li role="presentation" class="active"><a href="/Pregunta/nuevo_pregunta">Registro de Preguntas</a></li>
            <li role="presentation"><a href="/Temario/nuevo_temario">Registrar Temario</a></li>
            <li role="presentation" ><a href="/Area/nuevo_area">Registrar Area</a></li>
            <li role="presentation"><a href="/Complejidad/nuevo_complejidad">Registrar Complejidad</a></li>
        </ul>
    </div>
<!-- body de registro de preguntas   -->
    <div class="container" id="id_con_reg_preg">
        <div class="row">
            <div class="col-md-6">
                <h4>Agregar una <strong>Pregunta</strong></h4>
<!-- Formulario de Pregunta  -->
                <%- partial('./formulario_pregunta.ejs')%>
                <br>

            </div>
            <div class="col-md-6">
                <h4>Agregar la <strong>Respuesta</strong> de la pregunta</h4>
                <br>
                <br>
<!-- Agregar una respuesta-->
                 <%- partial('../Respuesta/formulario_respuesta.ejs')%>
<!-- Tabla de respuestas registradas  -->
                 <%- partial('../Respuesta/tabla_respuesta.ejs')%> 
            </div>
        </div> 
        <div class="row">
           <br><br>
            <div class="col-md-3 col-md-offset-5">
                <a class="btn btn-success" href="#" role="button" id="add_area">Agregar Pregunta</a>        
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>