                <br><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID Pregunta</th>
                            <th>Pregunta</th>
                            <th>Respuesta</th>
                            <th>Temario</th>
                            <th>Area</th>
                            <th>Complejidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button type="button" class="btn btn-primary">Ver Pregunta</button></td>
                            <td><button type="button" class="btn btn-primary">Ver Respuesta</button></td>
                            <td><button type="button" class="btn btn-danger">eliminar</button></td>
                        </tr>
                    </tbody>
                </table>